/* 
    custom css for fixed footer 
    
    body is set to flex and column direction
    height is set to height of the viewport
*/

body {
    background-color: rgba(238, 245, 10, 0.15);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    /* set css display to flex */
    display: flex;
    /* set flex direction to column */
    flex-direction: column;
    /*
        set minimum height to 100dvh of the viewport height.
        footer will attach to bottom of body
    */
    min-height: 100dvh;

    /*
        if you want a background image uncomment the line below
        background: url('/assets/img/<NAME OF IMAGE>') no-repeat center center;
    */
}

/* 
    css for google fonts
    copied from google fonts website
*/
.roboto-condensed-400 {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.caveat-400 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.caveat-300 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fs-6 {
    font-size: 3rem !important;
}

.div-style {
    min-height: 100dvh;
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
    margin-bottom: 1rem;
}

.nav-menu-style {
    min-height: 6rem;
    width: 50%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
    margin-bottom: 1rem;
}

.nav-style {
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
    margin-bottom: 1rem;
}

.menu-style {
    background-color: rgba(255, 165, 0, 0.85);
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
}

.alert-test {
    background-color: rgba(0, 0, 255, 1);
    color: white;
    border: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
}

.me-6 {
    margin-right: 6rem;
}

/* 
    creates a footer that is fixed to the bottom of the display 
    if the content is less than the height of the display or the
    bottom of the content if the content height is greater than
    the height of the display
*/
.footer-style {
    /* this fixes the footer to bottom of the body or content */
    margin-top: auto;
    /* footer styling */
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
    min-height: 9rem;
}

.btot-style {
    padding: 0.25rem;
    margin: 3rem;
    border-radius: 5px;
}

.btot-style:hover, .btot-style:focus {
    background-color: rgba(10, 245, 144, 0.15);
}

.img-style {
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
}

/* highlight navigation options in navbar */
#about:hover,
#food:hover,
#contact:hover,
#jobs:hover,
#about:focus,
#food:focus,
#contact:focus,
#jobs:focus {
    background-color: rgba(10, 245, 144, 0.35);
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
}

/*
    a selection of primary test colors. set as background colors
    remove these colors and replace with your own
*/
.brioche-col-green {
    background-color: rgba(10, 245, 144, 0.35);
}

.brioche-col-green1 {
    background-color: rgba(10, 245, 144, 0.85);
}

.test-col-blue {
    background-color: blue;
}

.brioche-col-yellow {
    background-color: rgba(238, 245, 10, 0.25);
}

.brioche-col-white {
    background-color: rgba(255, 255, 255, 0.1);
}

/* scrolling bar text */
.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 255, 1);
    color: white;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
}

.scrolling-text span {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 45s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/*
    media query for screen width less than 576px
    changes font size of class fs-6 to 2rem
*/
@media screen and (max-width: 768px) {
    .fs-6 {
        font-size: 2rem !important;
    }
}
